@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default, dark --prefersdark, cupcake;
 }
@layer base {
  @font-face {
    font-family: "Montserrat";
    src: url('/assets/fonts/Montserrat-Medium.ttf') format('truetype');
  }

  body {
    font-family: 'Montserrat', sans-serif;
  }
}
@theme {
  --font-montserrat: 'Montserrat', sans-serif;
  --animate-fadeIn: fadeIn 0.3s ease-in-out forwards;
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
